<div class="cat">
    <div class="categories">
        <% for(var i=0; i<categories.length; i++) {
            if(combi){%>
                <div class="<%categories[i]%>" data-type="<%categories[i]%>">
                    <button class="categories" onclick="window.location.href='http://localhost:8080/Combinaisons/rech_cat_combi/<%=categories[i].nom%>';"><%= categories[i].nom %></button>
                </div>
            <%}
            else {%>
                <div class="<%categories[i]%>" data-type="<%categories[i]%>">
                    <button class="expansible categories"><%= categories[i].nom %></a></button>
                    <ul class="scat" style ="display: none; list-style-type: none;">
                        <% for(var j=0; j<scategories.length; j++) {
                            if(scategories[j].nom == categories[i].nom){
                                const tmp = (scategories[j].snom);
                                const tmp2 = tmp.replace(/ /g,"_");
                                const link = tmp2.replace(/à/g,"a");
                                %>
                                <li class="scat" data-title="<%= scategories[j].snom %>"><a href="http://localhost:8080/rech_cat/<%=link%>" class="scat"><%= scategories[j].snom %></a></li>
                            <%}
                        }%>
                    </ul>
                </div>
            <%} 
        }%>
    </div>
</div>